
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	
	</head>
	<!--______________________________________________________BEGIN APP-->
	<body>


<h1>Mr Michael Law and Office Plano</h1>
<h2>This is the chat. It is not made to look pretty - yet</h2>

<h3>As a question</h3>
  <form method="post"  action="chat-submit"> 
   <input type="text" name="userData"> 
   <input type="submit"> 
  </form> 


  {{variableFromServer}}

{{!--   
  <ul> 
  {{#each item}} 
   <li> 
    <a href="delete/{{this.id}}"> 
     {{this.task}}: 
    </a> 
    <a href="edit/{{this.id}}"> 
     <b>Edit</b> 
    </a> 
   </li> 
  {{/each}} 
  </ul> 
 --}}

	</body>
	<!--______________________________________________________END APP-->
</html>